*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: #111111;
    color: #ffffff;
}
.card{
    width: 190px;
    height: 254px;
    background: #07182E;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.card h2{
    color: white;
    font-size: 2em;
    z-index: 2;
}
.card::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 120%;
    background: linear-gradient(180deg, #00b7ff, #ff30ff);
    animation: rotate 3s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.card::after{
    content: "";
    position: absolute;
    inset: 5px;
    background: #07182E;
    border-radius: 15px;
}