*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fff;
    color: #000;
    transition: 0.3s;
}
.dark{
    background-color: #111;
    color: white;
}